{% include 'dashboard/cabecalho.html' %}
{% include '/dashboard/menu.html' %}

<h1 class="mb-4">
  {% if professor %}
    Editar Professor
  {% else %}
    Cadastrar Professor
  {% endif %}
</h1>


<div class="row">
    <div class="col-12">
      <form action="/professor/salvar/{% if professor %}{{ professor[0] }}{% endif %}" method="POST">
  
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" value="{% if professor %}{{ professor[1] }}{% endif %}" required>
        </div>

        <div class="mb-3">
          <label for="disciplina" class="form-label">Disciplina</label>
          <input type="text" class="form-control" id="disciplina" name="disciplina" value="{% if professor %}{{ professor[2] }}{% endif %}" required>
        </div>

        <div class="d-flex gap-2">
          <button type="submit" class="btn btn-primary">
            {% if professor %}
              Atualizar
            {% else %}
              Salvar
            {% endif %}
          </button>
          <a href="/professor" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
    </div>
  </div>
  
  {% include 'dashboard/rodape.html' %}